body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Arial, Helveticam sans-serif;
  background-color: rgb(175, 151, 123);
  color: rgb(0, 0, 0);
}

h1 {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  z-index: 2;
}

#filter-controls {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.castles-types-cards {
  display: flex;
  width: 400px;
  height: 100px;
  background-color: rgb(214, 195, 158);
  outline: 4px solid transparent;
  cursor: pointer;
  border-radius: 5px;
  transition: border 0.1s, background 0.1s;

  .left-div {
    height: 100%;
    width: 100px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .right-div {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 10px;

    h3 {
    }
    p {
      margin-top: 4px;
      text-align: center;
    }
  }
}

.castles-types-cards:hover {
  background-color: rgb(223, 204, 166);
}

/* Add border when checkbox inside is checked */
.castles-types-cards:has(input:checked) {
  outline-color: #9c2420;
  /* background-color: rgb(201, 180, 142); */
}

#map {
  height: 98%;
  width: 98vw;
  left: 1%;
  overflow: hidden;
  position: fixed;
  border: 1px #444 solid;
}
